*, *::before, *::after{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    font-family: "標楷體";
    background-color: #333;
}

a {
    text-decoration: none;
    color: #0080FF;
    font-weight: 300;
}

/*導覽列*/
.header {
    background-image: linear-gradient(90deg, #333, #555);
    width: 400px;
    margin-left: 74.5%;
    position: relative;
    top: -33%;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    margin: auto;
}

.indexlink{
    background: linear-gradient( to right,yellow,#4cd137);
    background: -webkit-linear-gradient(to right,yellow,#4cd137);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.indexitem{
    flex-grow: 1;
    padding: 20px;
    border-bottom: 5px solid transparent;
    transition: 0.3s;
}
.indexitem:hover{
    border-bottom: 5px solid white;
}

.shoppingmalllink{
    color: 	#FF359A;
}
.shoppingmallitem{
    flex-grow: 1;
    padding: 20px;
    border-bottom: 5px solid transparent;
    transition: 0.3s;
}
.shoppingmallitem:hover{
    border-bottom: 5px solid #FF95CA;
}

.memberlink{
    color: #0080FF;
}
.memberitem {
    flex-grow: 1;
    padding: 20px;
    border-bottom: 5px solid transparent;
    transition: 0.3s;
}
.memberitem:hover {
    border-bottom: 5px solid #8fc5fa;
}

.aboutlink{
    color: #921AFF;
}
.aboutitem{
    flex-grow: 1;
    padding: 20px;
    border-bottom: 5px solid transparent;
    transition: 0.3s;
}
.aboutitem:hover{
    border-bottom: 5px solid #BE77FF;
}

.shoppingcartlink{
    color: #1afd9c;
}
.shoppingcartitem{
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 5px solid transparent;
    transition: 0.3s;
}
.shoppingcartitem:hover{
    border-bottom: 5px solid #96FED1;
}

/*表單*/
.formbox{
    font-size: 20px;
    color: #0080FF;
    display: inline-block;
    border: #0080FF 10px solid;
    padding: 30px 60px;
    border-radius: 15px;
    text-shadow: 0 0 0.5em #0080FF;
    box-shadow: inset 0 0 0.8em #0080FF, 0 0 0.8em #0080FF;
    position: relative;
    top: -10%;
}

legend{
    font-size: 50px;
    text-align: center;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
}

.textbox input {
    display: block;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 360px;
    float: left;
    margin: 10px;
}

.checkbox {
    width: 15px;
    background: #ffffff;
}

.submit-set{
    margin-top: 30px;
    background-color: #333;
    font-size: 20px;
    color: #0080FF;
    display: inline-block;
    border: #0080FF 5px solid;
    padding: 10px 20px;
    border-radius: 10px;
    text-shadow: 0 0 0.5em #0080FF;
    box-shadow: inset 0 0 0.8em #0080FF, 0 0 0.8em #0080FF;
}
.submit-set:hover{
    background: #0080FF;
    color: #333;
    text-shadow: 0;
    cursor: pointer;
}